# macOS
.DS_Store

# Xcode
*.xcuserstate

# VS Code
.vscode/

# Python
__pycache__/
*.py[cod]
.venv/

# Dataset
PointCloudRegistration/input/*
!PointCloudRegistration/input/.gitkeep
PointCloudRegistration/output/*
